<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
</head>
<body>
	<h1>Order</h1>
	<p><a href="../cart">Cart</a></p>

	<h3>Items</h3>
	<table>
		<% cart.forEach(function(item){ %>
		<tr>
			<td>
				<%= item.name %> * <%= item.qty %>
			</td>
		</tr>
		<% }); %>
	</table>
	
		
	
	
	
	<p><strong>Sub Total:</strong><%= sub_total %><p>
	<p><strong>Discount:</strong><%= discount %><p>
	<p><strong>Total:</strong><%= cart_total %><p>

	<form action="../order" method="post">	
	    <input type="text" name="name" value="<%= user.name %>" required/>	<br/>
		<input type="text" name="phone" value="<%= user.phone %>" required/>	<br/>
		<textarea  name="address" rows="4" cols="50" required><%= user.address %></textarea><br/>

		<input  type="hidden" name="items">
		<% cart.forEach(function(item){ %><%= item.name %> * <%= item.qty %>,<% }); %>
		</input>

		<input type="hidden" name="sub_total" value="<%= sub_total %>" />
		<input type="hidden" name="discount" value="<%= discount %>" />
		<input type="hidden" name="total" value="<%= cart_total %>" />



		<input type="radio" name="payment_type" value="cod" required/> Cash on Delivery <br/>
		
		<input type="submit" name="submit" value="Order"/>
	</form>
	


	

</body>
</html>
