<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    	.product{
    		width:200px;   
    		border:1px solid black; 		
    	}
    	.product img{
    		width:100%;
    		max-width: 200px;
    	}
    </style>
 </head>

  <body>
  	<script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 1437772286611018;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  <h1>Buy New Phones from Shops</h1>

  <% data.forEach(function(product){ %>

  	<div class="product">
	  	<img src="<%= product.image %>" />
	  	<h4>$<%= product.title %> </h4>
	  	<p>price: $<%= product.price %></p>
	  	<p>description: <%= product.description %></p>
	  	<p>shop: <%= product.shop_name %></p>


      <a href="../order/<%= product.id %>">Order</a>
	  	

     
	    	
  	</div>

     
  <% }); %> 

  <script>
      
   
      const windowShut = () => {   
          MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
        }
      
      document.getElementById("form").addEventListener("submit", windowShut);       

      /*
      const postFormData = (data) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data)); 
      } */

     

  </script>
  
  </body>

</html>