<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    	.product{
    		width:200px;   
    		border:1px solid black; 		
    	}
    	.product img{
    		width:100%;
    		max-width: 200px;
    	}
    </style>
 </head>

  <body>
  <h1>My Phones</h1>

  <% data.forEach(function(product){ %>

  	<div class="product">
	  	<img src="<%= product.image %>" />
	  	<h4>$<%= product.title %> </h4>
	  	<p>price: $<%= product.price %></p>
	  	<p>description: <%= product.description %></p>
	  	<p>seller: <%= product.seller_name %></p>
	  	<p>Contace: <%= product.seller_phone %> <a href="tel:<%= product.seller_phone %>">call</a></p>

	    <form action="../delete" method="post">
	    	<input type="hidden" name="pid" value="<%= product.id %>">
	    	<input type="submit" name="submit" value="remove"/>
	    </form> 	
  	</div>

     
  <% }); %> 
  
  </body>

</html>