<!DOCTYPE html>

<html>
<head><title>mcc</title></head>
<body>
<h1>Groups</h1>

<a href="hall">hall</a>

<%if(groups == 0){%>
<p>No Groups</p>
<%}%> 

<%if(groups != 0){%>
<ul>
<% groups.forEach(function(group){ %>
     <li><%= group.name  %> by <%= group.created_by  %> 
     	
     	<%if(group.created_by_id != current_student.id){%>
	        <a href="../group/<%= group.id %>">Join</a>
    	<%}%> 
    	<%if(group.created_by_id == current_student.id){%>
	        <a href="../group/<%= group.id %>">View</a>
    	<%}%> 
     </li>
<% }); %>
</ul>
<%}%> 


<h3>Create New Group</h3>
<form action="creategroup" method="post">
name: <input type="text" name="name"/>
<select name="type"> 
	<option value="5">5/5</option>
	<option value="10">10/10</option>
</select>

<input type="hidden" name="created_by_id" value="<%= current_student.id  %>"/>
<input type="hidden" name="created_by" value="<%= current_student.name  %>"/>

<input type="submit" name="submit" value="Create"/>
</form>
</body>
</html>