<!DOCTYPE html>

<html>
<head><title>mcc</title></head>
<body>
<h1>Groups</h1>



<h3><%= group_info.group_name  %> by <%= entries[0].student_name  %></h3>
<h3>students</h3>
<ul>

<ul>
<% entries.forEach(function(entry){ %>
     <li><%= entry.student_name  %></li>
<% }); %>
</ul>

<form action="joingroup" method="post">
<input type="hidden" name="group_id" value="<%= group_info.group_id %>"/>
<input type="hidden" name="name" value="<%= group_info.group_name  %>"/>
<input type="hidden" name="student_name" value="<%= current_student.id  %>"/>
<input type="hidden" name="student_name" value="<%= current_student.name  %>"/>

<input type="submit" name="submit" value="Join"/>

</form>



</body>
</html>